[Desktop Entry]
Name=Kiosk Browser
Comment=This session will start Browser Kiosk
Exec=sh /home/pi/bin/kiosk-browser-launcher.sh
Type=Application
Terminal=false
