[Unit]
Description=Steamlink service

Conflicts=display-manager.service

Restart=on-failure

[Service]
Type=simple

ExecStart=sudo -u $(whoami) sh /usr/bin/steamlink.sh launch

ExecStop=sudo -u $(whoami) sh /usr/bin/steamlink.sh kill

[Install]
WantedBy=default.target
