[Unit]
Description=Steamlink service

Conflicts=display-manager.service

Restart=on-failure

[Service]
Type=simple

User=__USERNAME__

ExecStart=sh /home/pi/bin/steamlink.sh launch

ExecStop=sh /home/pi/bin/steamlink.sh kill

[Install]
WantedBy=default.target
