[Unit]
Description=Steamlink service

Conflicts=display-manager.service

Restart=on-failure

[Service]
Type=simple

User=pi

ExecStart=sh /home/pi/bin/steamlink.sh launch

[Install]
WantedBy=default.target
