[Unit]
Description=Bluetooth devices scanner service cron

[Timer]
# after boot process finished start time
OnBootSec=1s

# service activation frequenciy time
OnUnitActiveSec=2s

AccuracySec=1us

Unit=bluetooth-devices-connector.service

[Install]
WantedBy=timers.target