[Unit]
Description=Bluetooth devices auto-connector

Requires=bluetooth.service

[Service]
Type=oneshot

ExecStart=/usr/bin/python /home/pi/.kodi/addons/script.bluetooth-devices-connector/cron.py

[Install]
WantedBy=multi-user.target
