[Unit]
Description=Periodically checks that the bluetooth-devices-connector service is running

[Timer]
OnBootSec=60
OnUnitActiveSec=60
AccuracySec=1ms
Unit=bluetooth-devices-connector.service

[Install]
WantedBy=timers.target
