[Unit]
Description=Steamlink service

# steamlink is incompatible with X server under bullseye,
# thus lightdm is marked as incompatible for this service,
# this normally kills lightdm automatically
Conflicts=display-manager.service

# restart lightdm if steamlink fails to launch
OnFailure=display-manager.service

[Service]
Type=simple

User=pi

ExecStartPre=/bin/sh /home/pi/bin/launch_steamlink_pre.sh

ExecStart=/bin/sh /home/pi/bin/launch_steamlink.sh

ExecStopPost=/bin/sh /home/pi/bin/launch_steamlink_post.sh

[Install]
WantedBy=default.target
