[Unit]
Description=Steamlink Service

Conflicts=display-manager.service

OnFailure=display-manager.service

[Service]
User=pi
Group=pi
ExecStart=/usr/bin/sh /home/pi/bin/steamlink-launcher.sh

ExecStopPost=sudo service lightdm start

[Install]
WantedBy=default.target
